@{
    ViewData["Title"] = "Access denied";
}

<div class="alert alert-warning">
    <h4 class="alert-heading">Access denied</h4>
    <p>You don’t have permission to access this page.</p>
    <hr />
    <a class="btn btn-secondary" href="/">Go home</a>
</div>

