@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h3>Sign In</h3>
                <hr/>
                <a href="/Account/LoginWithGoogle" class="btn btn-danger w-100">
                    Sign in with Google
                </a>
            </div>
        </div>
    </div>
</div>
